.fondoo2{
    background-image: url(fondo4.png);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondoo3{
    background-image: url(portada-tequila.png);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fondoo4{
    background-image: url(portada-vino.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fondoo5{
    background-image: url(portada-whisky.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fondoo6{
    background-image: url(portada-blue.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bordeado {
      font-size: 55px;      /* Tamaño de fuente */
      color: #fff;          /* Color de texto */
      text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;  /* Efecto de sombra */
    }
  
    .sombra{
      text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    }
  
  